@model EnhancerForBusiness_Web.Models.Order

@{
    ViewBag.Title = "Pago Completo";
}
<section id="complete-page">
    <h2>Pago Completo</h2>

<div class="row">
<div class="col-sm-12">
    <p>!Gracias por su pedido!</p>
    <p>Su número de pedido es: @Model.OrderId</p>
    <p>Fecha de pedido: @Model.OrderDate.ToShortDateString()</p>
    <p>
        Puede @Html.ActionLink("ver su pedido", "Details", "Orders", new { id = @Model.OrderId }, new { @class = "action-link" }) desde su cuenta en la página.
    </p>
<br/>
<p>
	@Html.ActionLink("Seguir Comprando", "Index", "Home", null, new{ @class="btn"})
</p>

</div>
</div>
</section>