@model mvcInterfazUsuario.Models.modeloVenta

@{
    ViewBag.Title = "Eliminar Venta";
}

<h2>Eliminar Venta</h2>

<h3>¿Está seguro(a) que desea eliminar el registro? seleccionado?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdVenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdVenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroDocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioUnidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioUnidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoCambio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoCambio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" name="enviarAccion" value="Eliminar"
                    class="btn btn-primary" title="Eliminar registro"
                    data-toggle="tooltip" data-container="body" data-placement="right">
                Eliminar
            </button> |
            @Html.ActionLink("Regresar", "listarVenta_ENT")
        </div>
    }
</div>
