@model EnhancerForBusiness_Web.Models.IndexViewModel
@{
    ViewBag.Title = "Administrar";
}
<section id="manage-page">
    <h2>@ViewBag.Title</h2>
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Cambiar la configuración de la cuenta</h4>
        <dl class="dl-horizontal">
            <dt>Contraseña:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Agregar su contraseña", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Agregar", "SetPassword")
                }
                ]
            </dd>
            @*           <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Administrar", "ManageLogins") ]
        </dd>*@
            <dt>Número de Teléfono:</dt>
            <dd>
                @(Model.PhoneNumber ?? "Ningúno") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Cambiar", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Eliminar", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Agregar", "AddPhoneNumber")
                }
                ]
            </dd>
            @*<dt>Autentificación de dos factores:</dt>
        <dd>
            @if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <span>Enabled</span>
                    <span>[ <input type="submit" value="Desactivar" class="btn btn-link" /> ]</span>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <span>Enabled</span>
                    <span>[ <input type="submit" value="Activar" class="btn btn-link" /> ]</span>
                }
            }
        </dd>*@
            <dt>Browser remembered:</dt>
            <dd>
                @if (Model.BrowserRemembered)
                {
                    using (Html.BeginForm("ForgetBrowser", "Manage", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                    <span>Actualmente se recuerda el navegador por dos factores:</span>
                        <span>[ <input type="submit" value="Olvidar" class="btn btn-link" /> ]</span>
                    }
                }
                else
                {
                    using (Html.BeginForm("RememberBrowser", "Manage", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                <span>Actualmente no se recuerda el navegador por dos factores:</span>
                        <span>[ <input type="submit" value="Recordar" class="btn btn-link" /> ]</span>
                    }
                }
            </dd>
        </dl>
    </div>
</section>
