@using EnhancerForBusiness_Web.Utils
@model EnhancerForBusiness_Web.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Crear Contraseña";
}

<section>
    <h2>@ViewBag.Title</h2>
    <div class="row">
        <div class="col-md-6">
            <p class="text-info">
                No tienes un nombre de usuario/contraseña local para este sitio. Añada una cuenta local para que pueda acceder sin necesidad de un login externo.
            </p>

            @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

        <h4>Crear Inicio de Sesión Local</h4>

                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-sm-8 col-md-10">
                        <div class="input-group">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Contraseña" })
                            <span class="input-group-addon">@Html.Image("login_safe_icon.png")</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8 col-md-10">
                        <div class="input-group">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirmar Contraseña" })
                            <span class="input-group-addon">@Html.Image("login_safe_icon.png")</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8 col-md-10">
                        <input type="submit" value="Establecer Contraseña" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>
        <div class="col-md-6"></div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jquery.validate")
}