@model IEnumerable<EnhancerForBusiness_Web.Models.Raincheck>

@{
    ViewBag.Title = "Almacén";
}

<div class="row">
    <h3>
        Almacenes Actuales
    </h3>
</div>

<div class="row">
    <table class="table" id="cart-summary">
        <tr>
            <th>
                Nombre del Producto
            </th>
            <th>
                Precio 
            </th>
            <th>
                Precio de Venta 
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Encargado
            </th>
            <th>
                Almacén
            </th>
        </tr>
        @foreach (var raincheck in Model)
        {
            <tr id="row-@raincheck.RaincheckId">
                <td>
                    @raincheck.Product.Title
                </td>
                <td>
                    @raincheck.Product.Price
                </td>
                <td>
                    @raincheck.SalePrice
                </td>
                <td>
                    @raincheck.Count
                </td>
                <td>
                    @raincheck.Name
                </td>
                <td>
                    @raincheck.IssuerStore.Name
                </td>
            </tr>
        }
    </table>
</div>
