@model mvcInterfazUsuario.Models.modeloProveedor

@{
    ViewBag.Title = "Eliminar Proveedor";
}

<h2>Eliminar Proveedor</h2>

<h3>¿Está seguro(a) que desea eliminar el registro? seleccionado?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RazonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>

    </dl>

    @using (Html.BeginForm("accionesEntidades", "Proveedor", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" name="enviarAccion" value="Eliminar"
                    class="btn btn-primary" title="Eliminar registro"
                    data-toggle="tooltip" data-container="body" data-placement="right">
                Eliminar
            </button> |
            @Html.ActionLink("Regresar", "listarProveedor_ENT")
        </div>
    }
</div>
